@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Palette*/
  --gray-500: #343a40;
  --gray-400: #495057;
  --gray-300: #868e96;
  --gray-200: #adb5bd;
  --gray-100: #ced4da;

  --dark-blue-500: #052051;
  --dark-blue-400: #072b61;
  --dark-blue-300: #0a3871;
  --dark-blue-200: #356ea9;
  --dark-blue-100: #609ed4;

  --light-blue-500: #757fb2;
  --light-blue-400: #aab2d5;
  --light-blue-300: #e9ecf8;
  --light-blue-200: #eff1fa;
  --light-blue-100: #f3f5fc;

  /* Typography */
  --base-font: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

html {
  font-family: var(--base-font);
  font-size: 62.5%;
  color: var(--gray-500);
  background: var(--light-blue-100);
}

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.encoder__content {
  min-width: 60%;
}

.encoder__area {
  width: 80%;
  margin-left: auto;
}

.encoder__textarea {
  width: 100%;
  height: 400px;
  padding: 1rem 0;
  font-family: var(--base-font);
  font-size: 3.2em;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--dark-blue-300);
  border: none;
  background: transparent;
}

.encoder__textarea::placeholder {
  color: var(--dark-blue-300);
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

.encoder__warning {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.encoder__warning-text {
  font-size: 12px;
  font-weight: 400;
}

.encoder__buttons {
  display: flex;
  gap: 2.4rem;
}

.encoder__btn,
.encoder__btn-copy {
  background-color: var(--dark-blue-300);
  border-radius: 24px;
  width: 46%;
  height: 67px;
  border-style: none;
  font-family: var(--base-font);
  font-weight: 400;
  font-size: 1.6em;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.encoder__btn:hover,
.encoder__btn:nth-child(2):hover,
.encoder__btn-copy:hover,
.swal2-confirm:hover {
  box-shadow: 1px 1px 1px 1px var(--dark-blue-300);
  background-color: var(--dark-blue-200);
  border: 1px solid var(--dark-blue-300);
  color: white;
}

.encoder__btn:nth-child(2) {
  background-color: var(--light-blue-400);
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
}

.decoder__content {
  width: 25%;
}
.decoder__inicial {
  height: 580px;
  background-color: white;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 24px 32px -8px #00000014;
  margin: 0 auto;
}

.decoder__inicial-text {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  padding-bottom: 1.6rem;
}

.decoder__instructions {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.decoder__area {
  height: 580px;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px #00000014;
  display: none;
  flex-direction: column;
  gap: 6.1rem;
}

.decoder__textarea {
  width: 100%;
  height: 436px;
  padding: 32px;
  box-sizing: border-box;
  font-family: var(--base-font);
  font-size: 2.4em;
  font-weight: 400;
  color: var(--gray-400);
  border: none;
  background: transparent;
}

.encoder__btn-copy {
  background-color: transparent;
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
  width: 80%;
  margin: 0 auto;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.footer__text {
  color: var(--dark-blue-300);
  font-size: 1.2em;
  font-weight: 400;
}

/*SweetAlert2 styles */
.swal2-title {
  font-family: var(--base-font);
  font-size: 3.2em;
  font-weight: 500;
  letter-spacing: 0em;
  color: var(--dark-blue-300);
}
#swal2-html-container {
  color: var(--gray-400);
  font-family: var(--base-font);
  font-weight: 400;
  font-size: 1.6em;
}
.swal2-confirm {
  background-color: var(--dark-blue-300);
  border-radius: 15px;
  padding: 10px;
  border-style: none;
  font-family: var(--base-font);
  font-weight: 400;
  font-size: 1.6em;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Media queries */
@media screen and (min-width: 1367px) {
  .container,
  .footer__container {
    max-width: 1440px;
    margin: 4rem auto 0 auto;
  }

  .encoder__area {
    width: 68%;
  }

  .encoder__textarea,
  .decoder__textarea {
    height: 60vh;
    max-height: 764px;
  }

  .decoder__content {
    width: 28%;
  }
  .decoder__inicial,
  .decoder__area {
    padding: 32px;
    height: 71vh;
    max-height: 944px;
  }
  .decoder__inicial-img {
    width: initial;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: stretch;
    margin-top: 7rem;
  }
  .encoder__area {
    max-width: calc(100% - 80px);
    width: 100%;
    margin: 116px auto 0 auto;
  }
  .encoder__buttons {
    gap: 0;
    justify-content: space-between;
  }
  .encoder__btn {
    width: 47%;
  }
  .encoder__btn-copy {
    margin-top: 32px;
    width: 100%;
  }
  .decoder__content {
    max-width: calc(100% - 80px);
    width: 100%;
    margin: 64px 40px 40px 40px;
  }
  .decoder__inicial,
  .decoder__area {
    height: fit-content;
    padding: 32px;
    gap: 0;
  }
  .decoder__inicial-img {
    display: none;
  }

  .decoder__textarea {
    padding: 0;
    height: 180px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    margin: 2.4rem 0 2.4rem 0;
  }
  .encoder__area {
    margin: 5.6rem 1.6rem 0 1.6rem;
    max-width: calc(100% - 3.2rem);
  }

  .encoder__textarea {
    max-height: 30rem;
    padding: 0;
  }

  .encoder__warning {
    margin: 1rem 0 1.6rem 0;
  }

  .encoder__buttons {
    flex-direction: column;
    gap: 2.4rem;
  }

  .encoder__btn {
    width: 100%;
  }

  .decoder__content {
    margin: 6.4rem 1.6rem 0 1.6rem;
    max-width: calc(100% - 3.2rem);
  }

  .decoder__textarea {
    height: 595px;
  }
}
