@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Palette*/
  --gray-500: #343a40;
  --gray-400: #495057;
  --gray-300: #868e96;
  --gray-200: #adb5bd;
  --gray-100: #ced4da;

  --dark-blue-500: #052051;
  --dark-blue-400: #072b61;
  --dark-blue-300: #0a3871;
  --dark-blue-200: #356ea9;
  --dark-blue-100: #609ed4;

  --light-blue-500: #757fb2;
  --light-blue-400: #aab2d5;
  --light-blue-300: #e9ecf8;
  --light-blue-200: #eff1fa;
  --light-blue-100: #f3f5fc;

  /* Typography */
  --base-font: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

html {
  font-family: var(--base-font);
  font-size: 62.5%;
  color: var(--gray-500);
}
